header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background-navbar);
  padding: 0 15px; /* Padding ayarı */
  box-shadow: 0px 0px 5px 0px gray;
  z-index: 9;
}

header img {
  width: 40px; /* Logo boyutu */
  height: 40px;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Wrap özelliği */
  justify-content: center; /* Butonları merkezde konumlandır */
  width: 100%;
}

nav a {
  position: relative;
  color: var(--primary-text-color);
  margin: 5px; /* Butonlar arası boşluk */
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 12px; /* Tıklama alanı için padding */
}

nav a:hover {
  color: var(--primary-green);
}

/* Dropdown stilleri */
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown:hover .menu-content {
  display: flex;
}

.menu-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  background-color: var(--primary-background);
  z-index: 1;
  width: 100%; /* Dropdown genişliği */
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 10px rgba(39, 41, 63, 0.15);
  padding: 10px 0;
}

.menu-content a {
  font-weight: 400;
  display: block;
  font-size: 12px;
  margin: 5px 20px; /* Dropdown içindeki boşluk */
}

/* Mobil ayarlar */
@media screen and (max-width: 958px) {
  header {
    padding: 0 10px; /* Mobilde daha dar bir padding */
  }

  nav {
    flex-direction: column; /* Dikey düzen */
    align-items: stretch; /* Tüm genişliği kapla */
    padding-top: 5px; /* Üstten boşluk */
    width: 100%; /* Tüm genişlikte olmasını sağla */
  }

  nav a {
    margin: 5px 0; /* Dikeyde uygun boşluk */
    padding: 10px; /* Butonların tıklama alanını korumak için padding */
    font-size: 16px; /* Mobilde font boyutunu artırdık */
    width: 100%; /* Mobilde butonlar tam genişlikte */
    text-align: center; /* Metin ortalanır */
  }

  .dropdown {
    width: 100%; /* Dropdown'un tam genişlikte olmasını sağla */
  }

  .menu-content {
    width: 100%; /* Dropdown içeriği tam genişlikte olacak şekilde ayarlandı */
  }

  /* Çıkış yap butonu için özel stil */
  .logout-button {
    background-color: var(--primary-red); /* Dikkat çekici bir arka plan rengi */
    color: white; /* Beyaz metin rengi */
    border: none; /* Kenar çizgisini kaldır */
    border-radius: 5px; /* Hafif yuvarlak köşeler */
    padding: 10px; /* Padding ayarı */
    margin-top: 10px; /* Üstte biraz boşluk */
    width: 100%; /* Tam genişlikte */
    text-align: center; /* Metin ortalı */
  }
}

/* Çok daha küçük ekranlar için */
@media screen and (max-width: 768px) {
  header img {
    width: 30px; /* Logo boyutu */
    height: 30px;
  }

  nav a {
    font-size: 14px; /* Daha küçük font boyutu */
  }
}