header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background-navbar);
  padding: 0px 30px;
  box-shadow: 0px 0px 5px 0px gray;
  z-index: 9;
}

header div {
  padding-right: 40px;
}

header img {
  width: 50px;
  height: 50px;
}

h3 {
  color: var(--primary-text-color);
}

nav {
  display: flex;
  align-items: center;
  height: 70px;
  flex-wrap: wrap; /* Flex elemanları sarmasına izin ver */
  justify-content: space-between; /* Menüyü sola ve sağa hizalar */
  width: 100%; /* Menü genişliğini ayarla */
}

nav a {
  position: relative;
  color: var(--primary-text-color);
  margin: 0px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

nav a:hover {
  color: var(--primary-green);
}

nav a img {
  filter: brightness();
  width: 100px;
  height: 100px;
}

nav .disable-link {
  pointer-events: none;
  color: var(--primary-disabled-color);
}

.page-indicator {
  position: absolute;
  background-color: #b4cabf;
  width: 100%;
  height: 4px;
  top: -25px;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
}

.dropdown:hover .menu-content {
  display: flex;
}

.menu-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  background-color: var(--primary-background);
  min-width: 160px;
  z-index: 1;
  width: 177px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 4px 10px rgba(39, 41, 63, 0.15);
  padding: 10px 0px;
}

.menu-content a {
  font-weight: 400;
  display: block;
  font-size: 12px;
  margin: 5px 0px 5px 20px;
}

/* Mobil için düzenleme */
@media screen and (max-width: 958px) {
  header {
    padding: 0px 20px;
  }

  .header-logo-container {
    display: none;
  }

  nav {
    flex-direction: column; /* Yataydan dikey düzene geçiş */
    align-items: flex-start; /* Sol hizalama */
    width: 100%;
    padding-top: 10px;
  }

  nav a {
    margin: 10px 0px;
    font-size: 16px; /* Mobilde font boyutunu büyüt */
    width: 100%; /* Bağlantılar genişleyecek */
  }

  .dropdown {
    width: 100%;
  }

  .menu-content {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    min-width: unset;
    padding: 10px;
  }

  nav a img {
    width: 50px;
    height: 50px;
  }
}

/* Daha küçük ekranlar için daha fazla düzenleme */
@media screen and (max-width: 768px) {
  nav a img {
    width: 50px; /* Mobilde simgeler daha küçük */
    height: 50px;
  }

  .dropdown .menu-content a {
    font-size: 14px; /* Menüdeki metin boyutunu artır */
  }
}
