.ant-input-password {
  border-radius: 8px;
  // border: none;
  // border: 1px solid #f9f9f9;
  background-color: var(--primary-filled-color);

  border: none;
  box-shadow: none;

  font-size: 13px;
  height: 35px;
  // padding: 0px 11px;

  input {
    position: relative;
    top: -4px;
    border: none !important;
    &::placeholder {
      color: var(--custom-form-color);
    }
  }

  &:hover {
    border: none;
    box-shadow: none;
  }

  &:focus {
    border: none;
    box-shadow: none;
  }

  .anticon-eye {
    color: var(--custom-form-color) !important;
  }
  .anticon-eye-invisible {
    color: var(--custom-form-color) !important;
  }
}

.ant-input-affix-wrapper {
  background-color: var(--primary-filled-color);
}

//prevent chrome autofill background color
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
