// Header yüksekliği değişkeni
$header-height: 80px;

/* Mobile Header */
.mobile-header {
  display: flex;
  justify-content: center;
  align-items: center; // Elemanları dikeyde ortalar
  margin-top: $header-height; // Header yüksekliği kadar üst boşluk eklenir
}

/* Request Table */
.request-table {
  width: 100%;
  overflow: auto;
  background-color: #fafafa;
  border-radius: 40px;
  max-height: 60vh;
  margin-top: $header-height; // Header ile çakışmayı önlemek için boşluk eklenir

  .request-accept-footer {
    display: flex;
    justify-content: center;
    align-items: center; // Elemanları dikeyde ortalar

    .prev-or-next {
      &:is(.enabled) {
        opacity: 1;
        width: 30px;
        height: 30px;
        padding: 5px;
        cursor: pointer;
        margin: 0 10px; // Butonlar arasında eşit boşluk
      }
      &:is(.disabled) {
        width: 30px;
        height: 30px;
        padding: 5px;
        transition: opacity 0.3s ease;
        opacity: 0.5;
        margin: 0 10px; // Tutarlılık için margin
      }
    }
  }
}

/* Request Info */
.request-info {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background-color: #fafafa;
  border-radius: 40px;
  max-height: 60vh;
  margin-top: $header-height; // Header ile çakışmayı önlemek için boşluk
}

/* Icon Styles */
.icon {
  position: relative;
  display: inline-block;
  width: 16px; /* Gerekirse boyut ayarlanabilir */
  height: 16px;
  left: 17px;
  top: 5px;
}

.tick-icon::before {
  content: '';
  position: absolute;
  width: 6px; /* Kalınlık ayarı */
  height: 12px; /* Uzunluk ayarı */
  border-right: 2px solid green; /* İşaretin rengi */
  border-bottom: 2px solid green; /* İşaretin rengi */
  transform: rotate(45deg);
  top: 1px; /* Konum ayarı */
  left: 4px; /* Konum ayarı */
}

.cross-icon::before {
  content: '';
  position: absolute;
  width: 2px; /* Kalınlık ayarı */
  height: 12px; /* Uzunluk ayarı */
  background-color: red; /* Çarpı rengini ayarlar */
  transform: rotate(45deg);
  top: 2px; /* Konum ayarı */
  left: 7px; /* Konum ayarı */
}

.cross-icon::after {
  content: '';
  position: absolute;
  width: 2px; /* Kalınlık ayarı */
  height: 12px; /* Uzunluk ayarı */
  background-color: red; /* Çarpı rengini ayarlar */
  transform: rotate(-45deg);
  top: 2px; /* Konum ayarı */
  left: 7px; /* Konum ayarı */
}

/* Delete Request Button Container */
.delete-request-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;  // Alt boşluk eklenerek butonun görünürlüğü sağlanır
}

/* Delete Request Button */
.delete-request-button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.delete-request-button:hover {
  background-color: #c0392b;
}

.delete-request-button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}
.empty-container {
  height: calc(100vh - 80px); // Header yüksekliğine göre ayarla
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
