.request-table {
  width: 100%;
  overflow: auto;
  background-color: #fafafa;
  border-radius: 40px;
  max-height: 60vh;
.request-accept-footer {
  display: flex;
  justify-content: center;
  align-items: center; // Center the items vertically

  .prev-or-next {
    &:is(.enabled) {
      opacity: 1;
      width: 30px;
      height: 30px;
      padding: 5px;
      cursor: pointer;
      margin: 0 10px; // Add margin to space out the icons from the button
    }
    &:is(.disabled) {
      width: 30px;
      height: 30px;
      padding: 5px;
      transition: opacity 0.3s ease;
      opacity: 0.5;
      margin: 0 10px; // Add margin for consistency
    }
  }
}
}

.request-info {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background-color: #fafafa;
  border-radius: 40px;
  max-height: 60vh;
}

// .tick-icon {
//   width: 16px; /* Adjust the size as needed */
//   height:16px;
//   fill: green;
//   display: inline-block;
// }

.icon {
  position: relative;
  display: inline-block;
  width: 16px; /* Adjust size as needed */
  height: 16px;
  left: 17px;
  top:5px;
}

.tick-icon::before {
  content: '';
  position: absolute;
  width: 6px; /* Adjust thickness as needed */
  height: 12px; /* Adjust length as needed */
  border-right: 2px solid green; /* Color of the tick */
  border-bottom: 2px solid green; /* Color of the tick */
  transform: rotate(45deg);
  top: 1px; /* Adjust position as needed */
  left: 4px; /* Adjust position as needed */
}

.cross-icon::before {
  content: '';
  position: absolute;
  width: 2px; /* Adjust thickness as needed */
  height: 12px; /* Adjust length as needed */
  background-color: red; /* Color of the cross */
  transform: rotate(45deg);
  top: 2px; /* Adjust position as needed */
  left: 7px; /* Adjust position as needed */
}

.cross-icon::after {
  content: '';
  position: absolute;
  width: 2px; /* Adjust thickness as needed */
  height: 12px; /* Adjust length as needed */
  background-color: red; /* Color of the cross */
  transform: rotate(-45deg);
  top: 2px; /* Adjust position as needed */
  left: 7px; /* Adjust position as needed */
}
.delete-request-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;  // Alt boşluk ekleyerek butonun görünmesini sağlıyoruz
}

.delete-request-button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.delete-request-button:hover {
  background-color: #c0392b;
}

.delete-request-button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}
