/* Genel stil ayarları */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #25b597; /* Renk, hover durumunda daha belirgin olsun */
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Başlık stilleri */
h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0.5em 0;
  font-weight: bold;
  color: var(--primary-text-color);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

/* Horizontal çizgi */
hr {
  margin: 1em auto;
  border: none;
  border-top: 1px solid #ccc;
}

/* Paragraf stilleri */
p {
  margin: 1em 0;
  line-height: 1.5;
}

/* Preformatted metin */
pre {
  margin: 1em 0;
  font-family: monospace;
  white-space: pre-wrap; /* Uzun metinler sarmalansın */
  word-wrap: break-word; /* Kelimeler gerektiğinde satır sonlarında kırılacak */
}

/* Küçük metin */
small {
  font-size: smaller;
}

/* Strong (vurgulanan metin) */
strong {
  font-weight: bold;
}

/* Scrollbar stilleri */

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #98b0a9;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #25b597;
}

button {
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #25b597;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #25b597;
  color: white;
}

