.request-table {
  width: 100%;
  overflow: auto;
  background-color: #fafafa;
  border-radius: 40px;
  max-height: 60vh;
  .request-accept-footer {
    display: flex;
    justify-content: center;
  }
}
.request-info {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background-color: #fafafa;
  border-radius: 40px;
  max-height: 60vh;
}
