table:not(.ant-picker-content) {
  width: 100%;
  border-spacing: 0px 10px;

  thead tr th {
    background-color: var(--primary-background);
    height: 50px;
    text-align: left;
    padding: 0px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap; // Başlıklar tek satırda kalır
    text-overflow: ellipsis;
    overflow: hidden;

    &:not(.right-corner) {
      border-right: 1px solid var(--primary-disabled-color);
    }
  }

  tbody tr td {
    background-color: var(--primary-background);
    padding: 15px;
    vertical-align: top;
    height: 50px;
    white-space: nowrap; // Metin taşarsa tek satırda tutar
    text-overflow: ellipsis; // Uzun metinler için üç nokta ekler
    overflow: hidden;
    font-size: 13px;
    border-spacing: initial;

    &:not(.right-corner) {
      border-right: 1px solid var(--primary-disabled-color);
    }
  }

  tbody {
    tr:not(.no-hover-border) {
      &:hover {
        td {
          border-top: 1px solid var(--primary-green);
          border-bottom: 1px solid var(--primary-green);
        }
        .right-corner {
          border-right: 1px solid var(--primary-green);
        }
        .left-corner {
          border-left: 1px solid var(--primary-green);
        }
      }
    }
    tr:not(.no-hover-bg) {
      &:hover {
        background-color: var(--fourth-green);
        td {
          background-color: transparent;
        }
      }
    }

    tr {
      cursor: pointer;
      &:hover {
        .show-on-hover {
          * {
            visibility: visible;
          }
        }
      }
    }
  }

  .left-corner {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 1px solid transparent;
  }

  .right-corner {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 1px solid transparent;
  }

  .show-on-hover {
    * {
      visibility: hidden;
    }
  }
}

.ilacimNerede-data-table-container {
  width: 100%;
  overflow-x: auto; /* Yatay kaydırma özelliği */
  table {
    width: 100%;
    border-spacing: 0 10px;
    table-layout: auto; /* İçeriğe göre genişlik ayarı */
  }

  thead tr th,
  tbody tr td {
    padding: 15px;
    white-space: nowrap; /* İçeriğin taşmasını önler */
    text-overflow: ellipsis; /* Taşan metni kısaltır */
    overflow: hidden;
    min-width: 120px; /* Minimum genişlik */
  }

  thead tr th {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    background-color: var(--primary-background);
    border-bottom: 1px solid var(--primary-disabled-color);
  }

  tbody tr td {
    font-size: 13px;
    background-color: var(--primary-background);
    border-bottom: 1px solid var(--primary-disabled-color);
  }

  tbody tr {
    &:hover {
      td {
        background-color: var(--fourth-green); /* Hover durumunda arka plan */
      }
    }
  }

  /* Kenar yuvarlama */
  .left-corner {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .right-corner {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}


.ilacimNerede-table-action-bar {
  display: flex;
  align-items: center;
  background-color: var(--primary-background);
  height: 70px;
  border-radius: 15px;
  padding-left: 15px;
  margin-top: 10px;
  flex-wrap: wrap; // Aksiyon çubuğunu responsive yapmak için
}
